/* -------------------------------------------------------------------------- */
/*                               margins                                      */
/* -------------------------------------------------------------------------- */
.mt-5 {
  margin-top: 0.5rem !important;
}
.mt-10 {
  margin-top: 1rem !important;
}
.mt-15 {
  margin-top: 1.5rem !important;
}
.mt-20 {
  margin-top: 2rem !important;
}
.mt-24 {
  margin-top: 2.4rem !important;
}
.mt-30 {
  margin-top: 3rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-2 {
  margin-bottom: 0.2rem !important;
}
.mb-5 {
  margin-bottom: 0.5rem !important;
}
.mb-7 {
  margin-bottom: 0.7rem !important;
}
.mb-10 {
  margin-bottom: 1rem !important;
}
.mb-15 {
  margin-bottom: 1.5rem !important;
}
.mb-20 {
  margin-bottom: 2rem !important;
}
.mb-25 {
  margin-bottom: 2.5rem !important;
}
.mb-30 {
  margin-bottom: 3rem !important;
}
.mb-40 {
  margin-bottom: 4rem !important;
}
.mb-50 {
  margin-bottom: 5rem !important;
}
.mb-60 {
  margin-bottom: 6rem !important;
}
.my-5 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.my-7 {
  margin-top: 0.7rem !important;
  margin-bottom: 0.7rem !important;
}
.my-10 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-15 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.my-20 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.mr-5 {
  margin-right: 0.5rem !important;
}
.mr-10 {
  margin-right: 1rem !important;
}
.mr-15 {
  margin-right: 1.5rem !important;
}
.ml-5 {
  margin-left: 0.5rem !important;
}
.ml-10 {
  margin-left: 1rem !important;
}
.ml-15 {
  margin-left: 1.5rem !important;
}
.mx-5 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.mx-10 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.mx-15 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}
.mx-20 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}
.mx-24 {
  margin-right: 2.4rem !important;
  margin-left: 2.4rem !important;
}

/* -------------------------------------------------------------------------- */
/*                                paddings                                    */
/* -------------------------------------------------------------------------- */
.p-0 {
  padding: 0 !important;
}
.pl-5 {
  padding-left: 0.5rem !important;
}
.pl-10 {
  padding-left: 1rem !important;
}
.pl-15 {
  padding-left: 1.5rem !important;
}
.pl-30 {
  padding-left: 3rem !important;
}
.pr-5 {
  padding-right: 0.5rem !important;
}
.pr-10 {
  padding-right: 1rem !important;
}
.pr-15 {
  padding-right: 1.5rem !important;
}
.pr-30 {
  padding-right: 3rem !important;
}
.pb-0 {
  padding-bottom: 0rem !important;
}
.pb-5 {
  padding-bottom: 0.5rem !important;
}
.pb-7 {
  padding-bottom: 0.7rem !important;
}
.pb-10 {
  padding-bottom: 1rem !important;
}
.pb-15 {
  padding-bottom: 1.5rem !important;
}
.pb-19 {
  padding-bottom: 1.9rem !important;
}
.pb-20 {
  padding-bottom: 2rem !important;
}
.pt-15 {
  padding-top: 1.5rem !important;
}
.pt-28 {
  padding-top: 2.8rem !important;
}
.pt-40 {
  padding-top: 4rem !important;
}
.px-5 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.px-7 {
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}
.px-10 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-15 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.px-20 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.px-28 {
  padding-left: 2.8rem !important;
  padding-right: 2.8rem !important;
}
.py-7 {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}
.py-10 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-15 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.py-20 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.py-24 {
  padding-top: 2.4rem !important;
  padding-bottom: 2.4rem !important;
}
.py-28 {
  padding-top: 2.8rem !important;
  padding-bottom: 2.8rem !important;
}
.py-40 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

@include respond(small-screen) {
  // width < 700px ?
  .xs-pr-0 {
    padding-right: 0 !important;
  }
  .xs-pl-0 {
    padding-left: 0 !important;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  widths                                    */
/* -------------------------------------------------------------------------- */
.w-80-auto {
  width: 80% !important;
  margin: 0 auto !important;
}
.w-85-auto {
  width: 85% !important;
  margin: 0 auto !important;
}
.w-100 {
  width: 100% !important;
}
.flex-100 {
  flex: 0 1 100% !important;
}

/* -------------------------------------------------------------------------- */
/*                                heights                                     */
/* -------------------------------------------------------------------------- */
.h-100 {
  height: 100% !important;
}
.minh-100 {
  min-height: 100% !important;
}
.h-100vh {
  height: 100vh !important;
}
.minh-100vh {
  min-height: 100vh !important;
}

/* -------------------------------------------------------------------------- */
/*                                  aligns                                    */
/* -------------------------------------------------------------------------- */
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

/* -------------------------------------------------------------------------- */
/*                               directions                                   */
/* -------------------------------------------------------------------------- */
.direction-left {
  direction: ltr !important;
}
.direction-right {
  direction: rtl !important;
}

/* -------------------------------------------------------------------------- */
/*                                 fonts                                      */
/* -------------------------------------------------------------------------- */
.Acumin-Regular {
  font-family: "Acumin-Regular" !important;
}
.Acumin-Bold {
  font-family: "Acumin-Bold" !important;
}

/* -------------------------------------------------------------------------- */
/*                                 texts                                      */
/* -------------------------------------------------------------------------- */
.primary-text {
  color: var(--primary-color) !important;
}

/* -------------------------------------------------------------------------- */
/*                              containers                                    */
/* -------------------------------------------------------------------------- */
.flex-container {
  display: flex !important;
  align-items: center !important;
}

/* -------------------------------------------------------------------------- */
/*                                positions                                   */
/* -------------------------------------------------------------------------- */
.position-relative {
  position: relative !important;
}

/* -------------------------------------------------------------------------- */
/*                                 displays                                   */
/* -------------------------------------------------------------------------- */
.none {
  display: none !important;
}

/* -------------------------------------------------------------------------- */
/*                               visibilities                                 */
/* -------------------------------------------------------------------------- */
.visibility-hidden {
  visibility: hidden;
}
