.primaryBtn {
  color: var(--white-gray) !important;
  background-color: var(--primary-color) !important;
  padding: 1rem 3.5rem !important;
  border-radius: 55px !important;
  min-height: 5.8rem !important;
}

.disabledButton {
  background-color: var(--inactive-gray) !important;
}
